//Colors
$color_primary_white: #ffe9bf;
$color_light-brown: #d29e62;
$color_dark_beige: #695e48;
$color_beige: #c7bd8d;
$color_gray: #1f1f1f;
$color_dark: #151515;

// Fonts

@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&family=Linden+Hill:ital@0;1&display=swap");
